.admin-vaccination-centers {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-vaccine {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .form-vaccine input[type="number"],
  .form-vaccine button[type="submit"] {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-vaccine button[type="submit"] {
    background-color: #3f51b5;
    color: #fff;
    cursor: pointer;
  }
  .vaccination-center-item button[type="submit"] {
    background-color: #3f51b5;
    color: #fff;
    cursor: pointer;
  }
  .vaccination-center-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .vaccination-center-item h4 {
    margin-top: 0;
  }
  
  .center-list {
    margin-top: 20px;
    max-height: 500px;
    overflow-y: auto;
  }
  